@import "tailwindcss";

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;

  --color-brand: #6a8042;
  --color-brand-dark: #4f632f;
  --color-brand-light: #8da65c;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Quicksand", ui-sans-serif, system-ui, sans-serif;
}
